/*{
	margin: 0;
	padding: 0;
}*/

body
{
	background-image: url("img_login/sospet.jpeg");
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
	margin-top: 40px;
}

.resgistroformulario
{
	width: 800px;
	background-color: cyan;
	margin: auto;
	color: black;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
	box-shadow: inset 0 0 1em lightblue, 0 0 1em black;
}

.conteudo
{
	background-color: rgb(0,0,0,0.6);
	width: 800px;
	margin: auto;

}

form
{
	padding: 10px;
}

.nome
{
	margin-left: 25px;
	margin-top: 30px;
	width: 125px;
	color: white; 
	font-size: 18px;
	font-weight: 700;
}

.email
{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 468px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}

.senha
{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 468px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}

.botao
{
	background-color: rgb(89,189,202);
	width: 270px;
	height: 50px;
	border: none;
	color: #fff;
	border-radius: 30px;
	font-size: 16px;
	box-shadow: inset 0 0 1em lightblue, 0 0 1em black;
}