@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");


body {
    background-color:#c0c0c0;
    background-position-x: left;
    color: #fff;
    font-size:40px;
    font-family: "Quicksand", sans-serif;
    
}

h2
{
    color:#fff;
    font-size: 50px;
    text-align:center;
}
h3
{
    color:#fff;
    font-size: 50px;
    text-align:center;
}

body::-webkit-scrollbar
{
    width:0.50rem;
}

body::-webkit-scrollbar-track
{
    background: rgba(163, 162, 162, 0.945)
}

body::-webkit-scrollbar-thumb
{
    background:rgba(84, 161, 224, 0.808);
}

.texto{
    margin:20px;
    text-align:justify;
    font-size:20px;
}

#menu
{
    background-color:rgb(89, 189, 202);
    margin: 0px;
    padding: 0px;
    
}

#menu ul li{
    display:inline;
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    font-size: 20px;
    padding-right: 75px;
}


#menu ul li a:hover
{
    color:rgb(26, 86, 218);
    /*border-bottom:2px solid rgb(26, 86, 218);*/
    transform: scale(1.05);
}

  



/*h4
{ 
    background-color: rgb(89, 189, 202);
    width: 500px;
    height: 45px;
    color:#fff;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
    margin:60px;
    padding: 20px;
}

h5
{
     color:#fff;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:justify-all;
    margin:60px;
    padding:20px;
}

 .tamanho
{
    text-align:justify;
    width:600px;
    height:60px;

    
}*/

section{

    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittle{
    font-size: 3rem;
    margin: 2rem 0rem;
}


.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.question h3{

    font-size: 1.8rem;

}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;

}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .answer{
    max-height: 300px;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

